<form action="/anagram">
  <label for="phrase">
    Your phrase<input type="text" name="phrase">
  </label>
  <label for="target-word">
    Your target-word<input type="text" name="target-word">
  </label>
  <button type="submit" name="button">Anagram</button>
</form>
